$primaryColor:#007BFF;
$defaultSize:24px;
$whiteColor:#ffffff;

@import "default";
@import "header";
@import "description";
@import "introduction";
@import "services";
@import "footer";
@import "login";
